<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="./tests/bootstrap.php"
        cacheTokens="true"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        verbose="false">
    <testsuites>
        <testsuite name="Global">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
